body {
    background-color: black;
}

h1 {
    color: white;
}


.ball {
    margin: 100px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
}